{% extends "base.html" %}

{% block content %}
<div style="margin-top: 137px;">
    <div class="background">
        <div class="tamcard-cards">
            <div class="row-card">
                {% for kart in kartlar %}
    {% if loop.index < 4 %}
        <div class="tamcard-card">
            <div class="card-background" >
                <img src="{{ url_for('static', filename='images/' ~ kart.image_filename) }}" alt="">
                <div class="card-content">
                    <h3>{{ kart.title }}</h3>
                    <div style="padding:4px 8px 4px 8px;border-radius: 100px;background-color: #6cbe4c;width: 50px;margin-bottom:30px;margin-top:45px;">
                        <p>{{ kart.price_value }}</p>
                    </div>
                    <div class="card-button">
                        {% if kart.button1_text %}
                        <button class="button1">{{ kart.button1_text }}</button>
                        {% endif %}
                        {% if kart.button2_text %}
                        <button class="button2"><a href="{{ url_for('etrafli', kart_id=kart.id) }}" method="POST" style="color: black;">{{ kart.button2_text }}</a></button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

            
                

                </div>
            </div>
        </div>
    </div> 
    <div class="debet-background">
        <div class="debet-cards">
            <h1>Debet Kartları</h1>
            <div class="row-card-debet">
                {% for kart in kartlar %}
                {% if kart.category == 'debet' %}
                <div class="debet-card">
                    <a href="{{ url_for('etrafli', kart_id = kart.id ) }}"><img src="{{ url_for('static', filename = 'images/' ~ kart.image_filename) }}" style="width: 190px; height:120px;" alt=""></a>
                    <h4>{{ kart.title }}</h4>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button id="toggle-button" onclick="toggleCards()">Bütün kartlar</button>
        </div>
    </div>

    <div class="debet-background2">
        <div class="debet-cards2">
            <h1>Kredit Kartları</h1>
            <div class="row-card-debet2">
                {% for kart in kartlar %}
                {% if kart.category == 'kredit' %}
                <div class="debet-card2">
                    <a href="{{ url_for('etrafli', kart_id = kart.id ) }}"><img src="{{ url_for('static', filename = 'images/' ~ kart.image_filename) }}" style="width: 190px; height:120px;" alt=""></a>
                    <h4>{{ kart.title }}</h4>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button id="hidden-button" onclick="hiddenCards()">Bütün kartlar</button>
        </div>
    </div>

    <div class="suallar-background">
        <div class="suallar-cont">
            <div class="suallar">
                <h1>Tez-tez Verilən Suallar</h1>
                <details class="faq-faq">
                <summary class="faq-item">
                  <h3>Debet kart nədir?</h3>
                </summary>
                  <p style="margin-bottom: 20px;font-size: 18px;">Debet kartları istənilən istifadəçi üçün rahat pul qəbul etmə vasitəsidir</p>
                </details>
                <details class="faq-faq" style="padding-top: 20px;">
                <summary class="faq-item">
                  <h3>Debet kart üstünlükləri nədir?</h3>
                </summary>
                  <p style="margin-bottom: 20px; font-size: 18px;">ABB-dən əldə edəcəyiniz debet kartları hər biri xüsusi üstünlüklərə malikdir</p>
                </details>
            </div>
        </div>
    </div>
    <h1>CODELANDIA STUDENTS</h1>
</div>
{% endblock %}
<script src="../static/js/base.js"></script>