<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style2.css">
    <link rel="stylesheet" href="../static/images/abb-logo.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>ABB - Muasir, Faydalı, Universal</title>
</head>
<body>
{% block content %}


{% endblock %}


    <footer class="footer-abb">
        <section class="footer-section">
            <div class="container">
                <div class="f-rov">
                    <div class="f-kol-left">
                        <a href="https://abb-bank.az/">
                            <img src="{{ url_for('static', filename='images/abb-logo.svg') }}" alt="">
                        </a>
                    </div>
                    <div class="f-kol-right">
                        <a href="#">
                            <span class="icon-banking"></span>
                            <span class="icon-yazi">İnternet Bankçılıq</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer-esas">
            <div class="container">
                <nav class="footer-nav">
                    <div class="nav-kol-1">
                        <div class="kol-1">
                            <h4>Fərdi</h4>
                            <div class="kol-span-1">
                                <span>
                                    <a href="">Kartlar</a>
                                </span>
                                <span>
                                    <a href="">Kreditlər</a>
                                </span>
                                <span>
                                    <a href="">Onlayn xidmətlər</a>
                                </span>
                                <span>
                                    <a href="">Kampaniyalar</a>
                                </span>
                                <span>
                                    <a href="">Keşbek</a>
                                </span>
                                <span>
                                    <a href="">Ipoteka</a>
                                </span>
                                <span>
                                    <a href="">Pul köçürmələri</a>
                                </span>
                                <span>
                                    <a href="">Cari hesab</a>
                                </span>
                                <span>
                                    <a href="">Sual-cavab</a>
                                </span>
                                <span>
                                    <a href="">Əmanətlər</a>
                                </span>
                                <span>
                                    <a href="">Faydalı linklər
                                    </a>
                                </span>
                                <span>
                                    <a href="">Azərbaycan Alış-veriş Festivalı</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="nav-kol-1">
                        <div class="kol-1">
                            <h4>Haqqımızda</h4>
                            <div class="kol-span-1">
                                <span>
                                    <a href="">Missiya və strateji baxış</a>
                                </span>
                                <span>
                                    <a href="">Rəhbərlik</a>
                                </span>
                                <span>
                                    <a href="">Məlumatların açıqlanması</a>
                                </span>
                                <span>
                                    <a href="">Brend mərkəzi</a>
                                </span>
                                <span>
                                    <a href="">Törəmə və asılı müəssisələrdə iştirak payı</a>
                                </span>
                                <span>
                                    <a href="">Müxbir banklar</a>
                                </span>
                                <span>
                                    <a href="">Maliyyə monitorinqi və komplayns</a>
                                </span>
                                <span>
                                    <a href="">İnsan Resursları</a>
                                </span>
                                <span>
                                    <a href="">Korporativ Sosial Məsuliyyət / Sponsorluq</a>
                                </span>
                                <span>
                                    <a href="">Siyasətlərimiz</a>
                                </span>
                                <span>
                                    <a href="">Mükafatlar</a>
                                </span>
                                <span>
                                    <a href="">Təklif və şikayətlər</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="nav-kol-1">
                        <div class="kol-1">
                            <h4>Korporativ</h4>
                            <div class="kol-span-1">
                                <span>
                                    <a href="">Korporativ kreditlər</a>
                                </span>
                                <span>
                                    <a href="">Məsafədən hesab aç</a>
                                </span>
                                <span>
                                    <a href="">Ödəniş kartları</a>
                                </span>
                                <span>
                                    <a href="">Əməkhaqqı layihəsi</a>
                                </span>
                                <span>
                                    <a href="">Sənədli əməliyyatlar</a>
                                </span>
                                <span>
                                    <a href="">Elektron bankçılıq</a>
                                </span>
                                <span>
                                    <a href="">Köçürmələr</a>
                                </span>
                                <span>
                                    <a href="">Hesablar</a>
                                </span>
                                <span>
                                    <a href="">Əmanətlər</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="nav-kol-1">
                        <div class="kol-1">
                            <h4>KOB</h4>
                            <div class="kol-span-1">
                                <span>
                                    <a href="">Biznes kreditləri</a>
                                </span>
                                <span>
                                    <a href="">Məsafədən hesab aç</a>
                                </span>
                                <span>
                                    <a href="">ABB Link</a>
                                </span>
                                <span>
                                    <a href="">Xidmət paketləri</a>
                                </span>
                                <span>
                                    <a href="">Ödəniş kartları</a>
                                </span>
                                <span>
                                    <a href="">Sənədli əməliyyatlar</a>
                                </span>
                                <span>
                                    <a href="">Köçürmələr</a>
                                </span>
                                <span>
                                    <a href="">Elektron bankçılıq</a>
                                </span>
                                <span>
                                    <a href="">Hesablar</a>
                                </span>
                                <span>
                                    <a href="">Əmanətlər</a>
                                </span>
                                <span>
                                    <a href="">Sahibkarlar Klubu</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="nav-kol-1">
                        <div class="kol-1">
                            <h4>Maliyyə və İnvestisiya</h4>
                            <div class="kol-span-1">
                                <span>
                                    <a href="">Hesablar</a>
                                </span>
                                <span>
                                    <a href="">Səhmdarlar</a>
                                </span>
                                <span>
                                    <a href="">Reytinqlər</a>
                                </span>
                                <span>
                                    <a href="">Korporativ təqdimat</a>
                                </span>
                                <span>
                                    <a href="">Digər məlumatlar</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="nav-kol-1">
                        <div class="kol-1">
                            <h4>Əlaqə</h4>
                            <div class="kol-span-1">
                                <span>
                                    <a href="">Nizami küç. 67, AZ1005 Bakı, Azərbaycan</a>
                                </span>
                                <span>
                                    <a href="">Tel.: (+994 12) 493 00 91</a>
                                </span>
                                <span>
                                    <a href="">Faks: (+994 12) 493 40 91</a>
                                </span>
                                <span>
                                    <a href="">E-poçt: info@abb-bank.az</a>
                                </span>
                                <span>
                                    <a href="">Digər məlumatlar</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="abb-download">
                    <a href="https://apps.apple.com/az/app/abb-mobile-2x-%C9%99dv-ke%C5%9Fbek/id1251456175" class="app-store">
                        <span class="app-store-icon"></span>
                        <div class="store-yazi">
                            <span class="mobil">Mobil tətbiqi yüklə</span>
                            <span class="store-app">App Store</span>
                        </div>
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=iba.mobilbank" class="play-market">
                        <span class="play-market-icon"></span>
                        <div class="p-market-yazi">
                            <span class="mobil-2">Mobil tətbiqi yüklə</span>
                            <span class="play-yazi">Google Play</span>
                        </div>
                    </a>
                    <a href="https://appgallery.huawei.com/app/C105078433" class="app-gallery">
                        <span class="app-gallery-icon"></span>
                        <div class="app-gallery-yazi">
                            <span class="mobil-3">Mobil tətbiqi yüklə</span>
                            <span class="gallery-yazi">App Gallery</span>
                        </div>
                    </a>
                </div>

                <div class="son-hisse">
                    <div class="hisse-1">
                        <span class="hisse-1-yazi">© ABB - Bütün hüquqlar qorunur</span>
                    </div>
                    <div class="hisse-2">
                        <a href="https://infobank.az/">
                            <img src="{{ url_for('static', filename='images/logo-infobank.webp') }}" alt="">
                        </a>
                        <a href="http://www.virtualkarabakh.az/">
                            <img src="{{ url_for('static', filename='images/logo-virtual-qarabag.webp') }}" alt="">
                        </a>
                        <a href="https://adif.gov.az/">
                            <img src="{{ url_for('static', filename='images/yenilogo.webp') }}" alt="">
                        </a>
                        <a href="https://bizimpullar.az/">
                            <img src="{{ url_for('static', filename='images/logo-msp.webp') }}" alt="">
                        </a>
                    </div>
                    <div class="hisse-3">
                        <div class="mob-social">
                            <a href="">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-x-twitter"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </footer>

</body>
</html>